
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-fire:before { content: '\e802'; } /* '' */
.icon-compass:before { content: '\e803'; } /* '' */
.icon-headphones:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-help-circled:before { content: '\e806'; } /* '' */
.icon-inbox:before { content: '\e807'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
