body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    float: left;
    padding: 0px 10px;
    background-color: rgb(32, 34, 37);
    font-family: 'Montserrat', sans-serif;
}

.channels {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

.border {
  background-color: rgb(54,57,63);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.channels .border:hover {
    border-radius: 25%;
    background-color: #6A5ACD;
    cursor: pointer;
    transition: 0.15s all ease-in-out;
}


#discordlogo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#line {
  border-bottom: 2px solid rgb(54,57,63);
  width: 40px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#discordlogo img {
    height: 50px;
}

#addserver {
    color:rgb(59, 165, 93);
    background-color: rgb(54,57,63);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 36px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

#addserver i {
    font-size: 36px;
}

#addserver:hover {
    border-radius: 25%;
    background-color: rgb(59, 165, 93);
    color: white;
    cursor: pointer;
    transition: 0.15s all ease-in-out;
}

main {
    background-color: rgb(54, 57, 63);
    width: 100%;
    height: 100vh;
    margin-left: 70px;
}

#left {
    background-color: rgb(47, 49, 54);
    width: 250px;
    height: 100%;
    position: fixed;
    color: white;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

#find {
    text-align: center;
    padding: 10px;
    color: white;
    border-bottom: 2px solid black;
}

input {
    width: 220px;
    background: rgb(32, 34, 37);
    color: rgb(211, 211, 211);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border: 1px solid rgb(32, 34, 37);
    border-radius: 10%;
    padding: 5px;
}

#list {
    justify-content: center;
    margin: 10px;
}

#list div {
    padding: 10px;
    border-radius: 5%;
    color:rgb(142, 146, 150);
    font-size: 15px;
}

#list div:hover {
    background-color: rgb(54, 57, 63);
    color: white;
    cursor: pointer;
}

#list i {
    margin-right: 10px;
    font-size: 20px;
    height: 20px;
    width: 10px;
}


#priv {
    font-size: 15px;
    text-align: center;
    color: rgb(142, 146, 150);
    line-height: 20px;
    align-items: center;
}

#priv span {
    margin-left: 40px;
    font-size: 18px;
}

#priv:hover {
    color: white;
}

.friends-list {
    margin: 5px;
}

.friends-list p {
    margin-bottom: 15px;
    color:rgb(142, 146, 150);
    font-size: 15px;
    margin-left: 10px;
}

.friends-list-position:hover {
    background-color: rgb(54, 57, 63);
    width: 230px;
    height: 40px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    cursor: pointer;
}

.friends-list-position {
    display: flex;
    line-height: 10px;
    align-items: center;
    margin-left: 10px;
    padding-left: 5px;
}

.friends-list img {
    height: 27px;
}

#your-account {
    background-color: rgb(40, 43, 46);
    position: absolute;
    bottom: 0;
    width: 250px;
    height: 50px;
    align-items: center;
}

#your-account img {
    height: 27px;
}

#your-account img:hover {
    cursor: pointer;
}

#your-account p {
    margin-left: 8px;
    font-size: 12px;
    white-space: pre-line;
}

#your-account span {
    font-size: 15px;
    padding: 0;
    margin-left: 30px;
    margin-right: 10px;
}

#your-account i {
    margin: 0;
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 10%;
    font-size: 17px;
}

#your-account i:hover {
    background-color:rgb(54, 57, 63);
    cursor: pointer;
}

.your-account-position {
    display: flex;
    line-height: 10px;
    align-items: center;
    margin-left: 10px;
    padding-left: 5px;
    width: 250px;
    height: 50px;
}