body {
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 5%;
    height: 100vh;
    float: left;
    background-color: rgb(32, 34, 37);
    font-family: 'Montserrat', sans-serif;
}

.channels {
    color: white;
    text-align: center;
    margin-left: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}


.channels .border:hover {
    border-radius: 25%;
    background-color: #6A5ACD;
}


#discordlogo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#line {
    border-bottom: 2px solid rgb(54,57,63);
    width: 40px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#discordlogo img {
    height: 50px;
}

.border {
    background-color: rgb(54,57,63);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

#addserver {
    background-color: rgb(54,57,63);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 36px;
}

#addserver p:hover {
    color: white;
    background-color: rgb(59, 165, 93);
    border-radius: 25%;
}

#addserver p {
    color: rgb(59, 165, 93);
}


#addserver:hover {
    border-radius: 25%;
    background-color: #529670; 
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #2F3136;
}

article {
    float: left;
    background-color: rgb(54, 57, 63);
    margin-left: 10vh;
    width: 95%;
    height: 100vh;
    margin: 0;
}
