body {
    margin: 0;
    width: 100%;
    height: 100%;
}
header {
    width: 100vh;
    height: 20px;
}

#name {
    box-sizing: border-box;
    background-color: #2F3136;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    margin: 0;
}

nav {
    width: 10vh;
    margin: 0;
    padding: 0;
    height: 95vh;
    float: left;
    background-color: #2F3136;
}

.channels {
    color: white;
    text-align: center;
}

.channels p {
    background-color: rgb(110, 109, 109);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.channels p:hover {
    border-radius: 25%;
}

#addserver {
    color: #43B581;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #2F3136;
}

article {
    float: left;
    background-color: lightgray;
    margin-left: 10vh;
    width: 90vh;
    height: 95vh;
    margin: 0;
}
